* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #eef2f7;
}

.container {
    width: 80%;
    background-color: white;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 40px;
    overflow: hidden;
}

.donor-section {
    text-align: center;
}

.logo img {
    width: 60px;
    margin-bottom: 20px;
}

h2 {
    font-size: 26px;
    margin-bottom: 10px;
}

p {
    font-size: 14px;
    margin: 10px 0;
}

.donor-form {
    margin-top: 20px;
}

.donor-form input, .donor-form select {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    transition: all 0.3s ease;
}

.donor-form input:focus, .donor-form select:focus {
    border-color: #00cc99;
    outline: none;
    background-color: #fff;
}

label {
    font-size: 14px;
    margin: 10px 0;
}

.donor-signup-btn {
    background-color: #00cc99;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    width: 100%;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

.donor-signup-btn:hover {
    background-color: #009977;
}
